{% extends "layout.html" %}

{% block title %}
    Bounties
{% endblock %}
{% block header %}
    Bounties
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 bountybg spacing">
                <img src="{{bounty[2]}}" alt="{{photoPath}}">
                <h1 class="name">{{ bounty[4] }}</h2>
                <h3 class="amount">${{ bounty[5]}}</h3>
            </div>
            <div class="demandtitle">
                List of Demands
            </div>
            <div class="demands">
                {{ bounty[3]}}
            </div>
        </div>

    </div>

{% endblock %}
