{% extends "layout.html" %}

{% block title %}
    Bounties
{% endblock %}
{% block header %}
    Bounties
{% endblock %}

{% block body %}
    <form class="formfont" action="{{url_for('blacklist')}}" method="post" enctype=multipart/form-data>
        <div class="form-group">
            <label for="">Name:</label> <input class="transparent" name="name" placeholder="Zoro..." required>
        </div>
        <br>
        <br>
        <div class="form-group ">
            <label for="">Image:</label> <input class="bord" type="file" name="file" required>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="">Demands:</label> <textarea class="transparent" cols="40" rows="3" name="demands" placeholder="I want..." required></textarea>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="">Amount:</label> <input class="transparent" name="amount" placeholder="100,000..." required>
        </div>
        <br>
        <div class="form-group">
            <label for=""></label><input class="button" type=submit value=Submit>
        </div>
    </form>

{% endblock %}
